/* VTEX Tachyons Media Queries */
/* @custom-media --breakpoint-small screen and (min-width: 20em);
@custom-media --breakpoint-not-small screen and (min-width: 40em);
@custom-media --breakpoint-medium screen and (min-width: 40em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em) and (max-width: 80em);
@custom-media --breakpoint-extra-large screen and (min-width: 80em); */

.vtex-product-details {
  height: 673px;
  padding-top: 86.5px;
  padding-bottom: 86.5px;
}

@media screen and (min-width: 20em) {
  .vtex-product-details__name-container .vtex-product-name__brand {
    font-size: 1.5rem;
  }

  /* TODO: Change after vtex.storecomponents update */
  .vtex-product-details__name-container .vtex-product-name__brand + div {
    font-size: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .vtex-product-details__name-container .vtex-product-name__brand {
    font-size: 2.25rem;
  }

  /* TODO: Change after vtex.storecomponents update */
  .vtex-product-details__name-container .vtex-product-name__brand + div {
    font-size: 1.25rem;
  }
}

:global .vtex-product-details > .vtex-price {
  height: 125px;
}
